In [1]:
import pandas as pd

# Lendo o arquivo Excel
df = pd.read_excel("../Dataset/Dataset.xlsx")

# Exibindo as primeiras linhas do dataset para verificar
df.head()

,UUID,IDCustomer,DTTransaction,Points
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854

In [4]:
# Filtrando os dados para o usu√°rio 'dcta462j-313l-515fm-t6gh-6424er7845m2'
# e somando os pontos

condicao = df['IDCustomer']=='dcta462j-313l-515fm-t6gh-6424er7845m2'
df_user = df[condicao]
df_user['Points'].sum()

1577

In [8]:
# Loop para somar os pontos de todos os usu√°rios √∫nicos e armazenando em um dici√°rio

pontos = {}

for i in df['IDCustomer'].unique():
    condicao = df['IDCustomer']==i
    pontos[i] = df[condicao]['Points'].sum()

pontos

# Essa opera√ß√£o √© muito custosa, pois ela percorre o dataset inteiro para cada usu√°rio √∫nico ou seja n√£o √© uma boa pr√°tica

{'dcta462j-313l-515fm-t6gh-6424er7845m2': 1577,
 'dcta849j-801l-228fm-t6gh-8918er7845m2': 394,
 'dcta880j-668l-412fm-t6gh-7273er7845m2': 55,
 'dcta564j-790l-786fm-t6gh-1924er7845m2': 460,
 'dcta838j-174l-151fm-t6gh-3006er7845m2': 854,
 'dcta969j-461l-627fm-t6gh-4384er7845m2': 221,
 'dcta484j-804l-792fm-t6gh-9066er7845m2': 985,
 'dcta470j-530l-724fm-t6gh-7197er7845m2': 76,
 'dcta128j-154l-567fm-t6gh-9292er7845m2': 48,
 'dcta637j-161l-392fm-t6gh-3041er7845m2': 870,
 'dcta132j-952l-135fm-t6gh-2139er7845m2': 497,
 'dcta103j-730l-830fm-t6gh-3763er7845m2': 128,
 'dcta938j-746l-726fm-t6gh-6445er7845m2': 589,
 'dcta885j-558l-315fm-t6gh-3549er7845m2': 288,
 'dcta108j-406l-705fm-t6gh-2257er7845m2': 947,
 'dcta696j-628l-202fm-t6gh-7816er7845m2': 57,
 'dcta594j-436l-937fm-t6gh-1513er7845m2': 598,
 'dcta380j-819l-572fm-t6gh-1380er7845m2': 271,
 'dcta663j-875l-268fm-t6gh-3803er7845m2': 986,
 'dcta367j-348l-425fm-t6gh-6607er7845m2': 726,
 'dcta264j-262l-943fm-t6gh-4480er7845m2': 809,
 'dcta460j-279l-243fm-t6gh-3274er7845m2': 689,
 'dcta802j-841l-617fm-t6gh-7598er7845m2': 182,
 'dcta265j-933l-852fm-t6gh-6052er7845m2': 477,
 'dcta270j-931l-759fm-t6gh-2846er7845m2': 348,
 'dcta568j-349l-517fm-t6gh-2217er7845m2': 58,
 'dcta818j-474l-950fm-t6gh-7701er7845m2': 916,
 'dcta234j-226l-147fm-t6gh-1716er7845m2': 114,
 'dcta927j-304l-646fm-t6gh-4404er7845m2': 130,
 'dcta907j-296l-427fm-t6gh-1500er7845m2': 871,
 'dcta508j-381l-268fm-t6gh-1293er7845m2': 376,
 'dcta816j-775l-597fm-t6gh-1971er7845m2': 54,
 'dcta301j-593l-787fm-t6gh-8178er7845m2': 501,
 'dcta324j-512l-789fm-t6gh-8069er7845m2': 175,
 'dcta398j-252l-734fm-t6gh-3097er7845m2': 541,
 'dcta143j-512l-663fm-t6gh-7403er7845m2': 369,
 'dcta525j-648l-444fm-t6gh-1885er7845m2': 437,
 'dcta321j-243l-312fm-t6gh-1910er7845m2': 39,
 'dcta230j-261l-696fm-t6gh-8831er7845m2': 606,
 'dcta888j-387l-632fm-t6gh-3971er7845m2': 628,
 'dcta449j-490l-253fm-t6gh-9686er7845m2': 212,
 'dcta870j-369l-437fm-t6gh-3894er7845m2': 942,
 'dcta640j-605l-373fm-t6gh-8253er7845m2': 191,
 'dcta715j-338l-205fm-t6gh-6112er7845m2': 197,
 'dcta573j-789l-600fm-t6gh-9478er7845m2': 940,
 'dcta303j-579l-280fm-t6gh-7522er7845m2': 618,
 'dcta303j-384l-343fm-t6gh-1310er7845m2': 56,
 'dcta769j-931l-114fm-t6gh-8347er7845m2': 201,
 'dcta136j-119l-461fm-t6gh-5541er7845m2': 823,
 'dcta757j-879l-854fm-t6gh-9037er7845m2': 547,
 'dcta963j-357l-853fm-t6gh-2605er7845m2': 720,
 'dcta619j-834l-489fm-t6gh-5797er7845m2': 392,
 'dcta875j-336l-861fm-t6gh-1849er7845m2': 251,
 'dcta838j-787l-716fm-t6gh-2581er7845m2': 147,
 'dcta596j-741l-530fm-t6gh-9605er7845m2': 596,
 'dcta108j-248l-454fm-t6gh-3746er7845m2': 17,
 'dcta290j-977l-240fm-t6gh-1766er7845m2': 115,
 'dcta705j-561l-676fm-t6gh-7577er7845m2': 639,
 'dcta395j-349l-449fm-t6gh-4705er7845m2': 750,
 'dcta510j-832l-719fm-t6gh-6829er7845m2': 159,
 'dcta729j-836l-470fm-t6gh-9568er7845m2': 830,
 'dcta683j-416l-418fm-t6gh-8394er7845m2': 769,
 'dcta261j-102l-354fm-t6gh-9787er7845m2': 388,
 'dcta156j-617l-750fm-t6gh-9015er7845m2': 153,
 'dcta683j-570l-260fm-t6gh-5632er7845m2': 602,
 'dcta135j-861l-335fm-t6gh-5686er7845m2': 800,
 'dcta725j-541l-144fm-t6gh-7704er7845m2': 509,
 'dcta513j-509l-753fm-t6gh-8210er7845m2': 398,
 'dcta248j-217l-692fm-t6gh-1410er7845m2': 419,
 'dcta854j-208l-722fm-t6gh-7083er7845m2': 687,
 'dcta173j-275l-246fm-t6gh-1063er7845m2': 964,
 'dcta760j-431l-259fm-t6gh-8216er7845m2': 319,
 'dcta746j-805l-774fm-t6gh-8284er7845m2': 76,
 'dcta928j-587l-305fm-t6gh-1495er7845m2': 912,
 'dcta273j-920l-530fm-t6gh-5054er7845m2': 308,
 'dcta460j-459l-817fm-t6gh-7693er7845m2': 259,
 'dcta985j-163l-425fm-t6gh-1963er7845m2': 331,
 'dcta197j-379l-584fm-t6gh-2598er7845m2': 259,
 'dcta501j-595l-777fm-t6gh-4051er7845m2': 435,
 'dcta720j-763l-193fm-t6gh-6928er7845m2': 827,
 'dcta110j-724l-234fm-t6gh-9817er7845m2': 911,
 'dcta323j-160l-238fm-t6gh-2291er7845m2': 693,
 'dcta572j-125l-882fm-t6gh-4359er7845m2': 965,
 'dcta754j-555l-524fm-t6gh-2414er7845m2': 574,
 'dcta510j-124l-185fm-t6gh-3286er7845m2': 696,
 'dcta936j-715l-125fm-t6gh-2621er7845m2': 606,
 'dcta374j-772l-407fm-t6gh-1308er7845m2': 759,
 'dcta507j-257l-667fm-t6gh-6708er7845m2': 932,
 'dcta962j-496l-512fm-t6gh-8883er7845m2': 848,
 'dcta956j-426l-814fm-t6gh-5218er7845m2': 914,
 'dcta447j-310l-728fm-t6gh-9242er7845m2': 718,
 'dcta293j-958l-829fm-t6gh-5987er7845m2': 981,
 'dcta467j-747l-732fm-t6gh-2133er7845m2': 44,
 'dcta272j-847l-882fm-t6gh-4376er7845m2': 880,
 'dcta936j-143l-103fm-t6gh-4976er7845m2': 257,
 'dcta799j-955l-709fm-t6gh-6906er7845m2': 16,
 'dcta101j-842l-514fm-t6gh-4610er7845m2': 271,
 'dcta287j-526l-129fm-t6gh-7626er7845m2': 74,
 'dcta122j-517l-550fm-t6gh-4235er7845m2': 440,
 'dcta452j-697l-912fm-t6gh-9644er7845m2': 830}

In [16]:
# Utilizando o groupby para somar os pontos de todos os usu√°rios √∫nicos
# Essa √© a maneira mais inteligente de agrupar usu√°rios e somar os pontos

df_summary = df.groupby(['IDCustomer'])['Points'].sum()
df_summary.reset_index()

                               IDCustomer  Points
0   dcta101j-842l-514fm-t6gh-4610er7845m2     271
1   dcta103j-730l-830fm-t6gh-3763er7845m2     128
2   dcta108j-248l-454fm-t6gh-3746er7845m2      17
3   dcta108j-406l-705fm-t6gh-2257er7845m2     947
4   dcta110j-724l-234fm-t6gh-9817er7845m2     911
..                                    ...     ...
95  dcta956j-426l-814fm-t6gh-5218er7845m2     914
96  dcta962j-496l-512fm-t6gh-8883er7845m2     848
97  dcta963j-357l-853fm-t6gh-2605er7845m2     720
98  dcta969j-461l-627fm-t6gh-4384er7845m2     221
99  dcta985j-163l-425fm-t6gh-1963er7845m2     331

[100 rows x 2 columns]

In [24]:
# Utilizando o groupby para somar os pontos e contar o n√∫mero de UUID de todos os usu√°rios √∫nicos e a √∫ltima data de transa√ß√£o

df.groupby(['IDCustomer']).agg({'Points':'sum', 'UUID': 'count', 'DTTransaction': 'max'}).reset_index().rename(columns={'Points':'TotalPoints', 'UUID':'Frequencia', 'DTTransaction':'UltimaTransacao'})

,IDCustomer,TotalPoints,Frequencia,UltimaTransacao
0,dcta101j-842l-514fm-t6gh-4610er7845m2,271,1,2023-10-28 10:38:36
1,dcta103j-730l-830fm-t6gh-3763er7845m2,128,1,2024-07-10 03:37:36
2,dcta108j-248l-454fm-t6gh-3746er7845m2,17,1,2024-07-08 01:18:36
3,dcta108j-406l-705fm-t6gh-2257er7845m2,947,1,2023-12-24 14:31:36
4,dcta110j-724l-234fm-t6gh-9817er7845m2,911,1,2024-06-07 14:18:36
...,...,...,...,...
95,dcta956j-426l-814fm-t6gh-5218er7845m2,914,1,2024-04-21 15:34:36
96,dcta962j-496l-512fm-t6gh-8883er7845m2,848,1,2024-06-10 01:46:36
97,dcta963j-357l-853fm-t6gh-2605er7845m2,720,1,2024-06-23 18:47:36
98,dcta969j-461l-627fm-t6gh-4384er7845m2,221,1,2023-12-13 11:39:36
99,dcta985j-163l-425fm-t6gh-1963er7845m2,331,1,2024-03-23 21:57:36

In [34]:
import datetime

# Calculando a diferen√ßa entre a √∫ltima transa√ß√£o e a data atual

data_1 = df['DTTransaction'][0]
now = datetime.datetime.now()

data = (now - data_1).days

data

7

In [43]:
# Calculando quantos dias o usu√°rio est√° sem transacionar

condicao = df['IDCustomer']=='dcta838j-174l-151fm-t6gh-3006er7845m2'
df_user = df[condicao]
diff = datetime.datetime.now() - df_user['DTTransaction'].max()

diff.days

39

In [44]:
# Fun√ß√£o para calcular a rec√™ncia e aplicando no groupby
def recencia(x):
    diff = datetime.datetime.now() - x.max()
    return diff.days


df.groupby(['IDCustomer']).agg({'Points':'sum', 'UUID': 'count', 'DTTransaction': ['max', recencia]}).reset_index().rename(columns={'Points':'TotalPoints', 'UUID':'Frequencia', 'DTTransaction':'UltimaTransacao'})

                               IDCustomer TotalPoints Frequencia  \
                                                  sum      count
0   dcta101j-842l-514fm-t6gh-4610er7845m2         271          1
1   dcta103j-730l-830fm-t6gh-3763er7845m2         128          1
2   dcta108j-248l-454fm-t6gh-3746er7845m2          17          1
3   dcta108j-406l-705fm-t6gh-2257er7845m2         947          1
4   dcta110j-724l-234fm-t6gh-9817er7845m2         911          1
..                                    ...         ...        ...
95  dcta956j-426l-814fm-t6gh-5218er7845m2         914          1
96  dcta962j-496l-512fm-t6gh-8883er7845m2         848          1
97  dcta963j-357l-853fm-t6gh-2605er7845m2         720          1
98  dcta969j-461l-627fm-t6gh-4384er7845m2         221          1
99  dcta985j-163l-425fm-t6gh-1963er7845m2         331          1

       UltimaTransacao
                   max recencia
0  2023-10-28 10:38:36      345
1  2024-07-10 03:37:36       89
2  2024-07-08 01:18:36       91
3  2023-12-24 14:31:36      288
4  2024-06-07 14:18:36      122
..                 ...      ...
95 2024-04-21 15:34:36      169
96 2024-06-10 01:46:36      119
97 2024-06-23 18:47:36      106
98 2023-12-13 11:39:36      299
99 2024-03-23 21:57:36      198

[100 rows x 5 columns]