In [ ]:
# Criando novas colunas com Pandas

In [12]:
import pandas as pd

# Lendo o arquivo Excel
df = pd.read_excel("../Dataset/Dataset.xlsx")

# Exibindo as primeiras linhas do dataset para verificar
df.head()

,UUID,IDCustomer,DTTransaction,Points
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854

In [13]:
df["Points_double"] = df["Points"] * 2
df

,UUID,IDCustomer,DTTransaction,Points,Points_double
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708
...,...,...,...,...,...
95,7fd4ea25-fc4b-49a7-984d-dd00271165e5,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32
96,9f8170b5-d0c2-4502-acc9-a14d0e56344f,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542
97,a0f529e6-5398-4942-9514-784148712f35,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148
98,1c69551c-bd1b-45f0-9edb-4a8fa2a1f716,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880
99,bb11df05-48b3-475b-a35e-a1ee298fb14a,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660

In [14]:
df["Points_div"] = df["Points_double"] / df["Points"]
df

,UUID,IDCustomer,DTTransaction,Points,Points_double,Points_div
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154,2.0
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788,2.0
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110,2.0
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920,2.0
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708,2.0
...,...,...,...,...,...,...
95,7fd4ea25-fc4b-49a7-984d-dd00271165e5,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32,2.0
96,9f8170b5-d0c2-4502-acc9-a14d0e56344f,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542,2.0
97,a0f529e6-5398-4942-9514-784148712f35,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148,2.0
98,1c69551c-bd1b-45f0-9edb-4a8fa2a1f716,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880,2.0
99,bb11df05-48b3-475b-a35e-a1ee298fb14a,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660,2.0

In [15]:
df["Constante"] = 1
df

,UUID,IDCustomer,DTTransaction,Points,Points_double,Points_div,Constante
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154,2.0,1
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788,2.0,1
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110,2.0,1
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920,2.0,1
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708,2.0,1
...,...,...,...,...,...,...,...
95,7fd4ea25-fc4b-49a7-984d-dd00271165e5,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32,2.0,1
96,9f8170b5-d0c2-4502-acc9-a14d0e56344f,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542,2.0,1
97,a0f529e6-5398-4942-9514-784148712f35,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148,2.0,1
98,1c69551c-bd1b-45f0-9edb-4a8fa2a1f716,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880,2.0,1
99,bb11df05-48b3-475b-a35e-a1ee298fb14a,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660,2.0,1

In [16]:
# Criando uma nova coluna com base em uma funÃ§Ã£o

get_f = lambda UUID: UUID.split("-")[0]
get_f("1a2b3c4d-5e6f-7g8h-9i0j")

'1a2b3c4d'

In [18]:
df["UUID"] = df["UUID"].apply(get_f)
df

,UUID,IDCustomer,DTTransaction,Points,Points_double,Points_div,Constante
0,c00f1564,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154,2.0,1
1,cfd9ac73,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788,2.0,1
2,54a23192,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110,2.0,1
3,0a7b7d6c,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920,2.0,1
4,659f6f6c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708,2.0,1
...,...,...,...,...,...,...,...
95,7fd4ea25,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32,2.0,1
96,9f8170b5,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542,2.0,1
97,a0f529e6,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148,2.0,1
98,1c69551c,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880,2.0,1
99,bb11df05,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660,2.0,1

In [20]:
# Outra maneira de fazer a mesma coisa Ã© utilizando o mÃ©todo applu com uma funÃ§Ã£o lambda

df["UUID"] = df["UUID"].apply(lambda UUID: UUID.split("-")[0])
df

,UUID,IDCustomer,DTTransaction,Points,Points_double,Points_div,Constante
0,c00f1564,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154,2.0,1
1,cfd9ac73,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788,2.0,1
2,54a23192,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110,2.0,1
3,0a7b7d6c,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920,2.0,1
4,659f6f6c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708,2.0,1
...,...,...,...,...,...,...,...
95,7fd4ea25,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32,2.0,1
96,9f8170b5,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542,2.0,1
97,a0f529e6,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148,2.0,1
98,1c69551c,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880,2.0,1
99,bb11df05,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660,2.0,1

In [21]:
def intervalo_pontos(pontos):
    if pontos < 100:
        return "Baixo"
    elif pontos < 500:
        return "MÃ©dio"
    else:
        return "Alto"
    
df["Intervalo_Pontos"] = df["Points"].apply(intervalo_pontos)
df

,UUID,IDCustomer,DTTransaction,Points,Points_double,Points_div,Constante,Intervalo_Pontos
0,c00f1564,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577,3154,2.0,1,Alto
1,cfd9ac73,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394,788,2.0,1,MÃ©dio
2,54a23192,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55,110,2.0,1,Baixo
3,0a7b7d6c,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460,920,2.0,1,MÃ©dio
4,659f6f6c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854,1708,2.0,1,Alto
...,...,...,...,...,...,...,...,...
95,7fd4ea25,dcta799j-955l-709fm-t6gh-6906er7845m2,2023-10-19 12:42:36,16,32,2.0,1,Baixo
96,9f8170b5,dcta101j-842l-514fm-t6gh-4610er7845m2,2023-10-28 10:38:36,271,542,2.0,1,MÃ©dio
97,a0f529e6,dcta287j-526l-129fm-t6gh-7626er7845m2,2024-01-31 16:30:36,74,148,2.0,1,Baixo
98,1c69551c,dcta122j-517l-550fm-t6gh-4235er7845m2,2023-10-24 01:37:36,440,880,2.0,1,MÃ©dio
99,bb11df05,dcta452j-697l-912fm-t6gh-9644er7845m2,2024-02-19 21:24:36,830,1660,2.0,1,Alto

In [10]:
import pandas as pd
data = {
    "Nome": ["JoÃ£o", "Maria", "JosÃ©", "Pedro"],
    "Recencia": [1, 30, 10, 45],
    "Frequencia": [1, 5, 7, 15],
    "Valor": [100, 200, 300, 400]
}

In [11]:
df_crm = pd.DataFrame(data)

In [17]:
def rfv(row):
    nota = 0
    if row['Recencia'] <= 10:
        nota += 10
    elif row['Recencia'] <= 20:
       nota += 5
    elif row['Recencia'] > 30:
        nota += 0
       
        

    if row['Valor'] > 200:
        nota += 10
    elif 100 <= row['Valor'] < 1000:
         nota += 5
    elif row['Valor'] < 100:
        nota += 0

    if row['Frequencia'] > 10:
        nota += 10
    elif  5 <= row['Frequencia'] <10:
        nota += 5
    elif row['Frequencia'] < 5:
        nota += 0
    return nota

      
        
    # if recencia <= 10 and valor >= 200 and frequencia >= 5:
    #     return "Premium"
    # elif recencia <= 10 and valor >= 200:
    #     return "Gold"
    # elif recencia <= 10:
    #     return "Silver"
    # else:
    #     return "Bronze"

In [18]:
df_crm.apply(rfv, axis=1)

0    15
1    10
2    25
3    20
dtype: int64

In [19]:
df_crm.iloc[0]

Nome          JoÃ£o
Recencia         1
Frequencia       1
Valor          100
Name: 0, dtype: object